<!DOCTYPE html>
<html>
	<head>
		<title>Rajendra Man Singh | Author</title>
		<meta name="Rajendra Man Singh" content="Rajendra Man Singh">
		<meta name="msvalidate.01" content="3628FE02D80D4A4D8CCDECF23EDA1D71" />
		<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NZ66KXR');</script>
<!-- End Google Tag Manager -->
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZ66KXR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about.html">About</a></li>
        		<li><a href="/cv.html">CV</a></li>
        		<li><a href="/blog.html">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, Please check out random photos from Nepal, Land of the Mount Everest and the birthplace of Lord Buddha.!</h1>
				<p>Thank you for viewing...</a></p>
			<p>
				<img src="/image1.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image2.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image3.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image4.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image5.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image6.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image7.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image8.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image9.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image10.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image11.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image12.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image13.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image14.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image15.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image16.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image17.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image18.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image19.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image20.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image21.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image22.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image23.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image24.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image25.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image26.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image27.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image28.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image29.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image30.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image31.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image32.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image33.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image34.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image35.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image36.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image37.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image38.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image39.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image40.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image41.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image42.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image43.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image44.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image45.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image46.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image47.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image48.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image49.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image50.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image51.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image52.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image53.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image54.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
				<img src="/image55.jpg" alt="Rajendra Man Singh" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
			</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:smartapps2me@gmail.com">email</a></li>
        		<li><a href="https://github.com/rajendramansingh">github.com/rajendramansingh</a></li>
			</ul>
		</footer>
	</body>
</html>
